body{
	background: #2f3640;
}
.nav-main{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: #2f3640;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
}
.btn-toggle-nav{

	width: 60px;
	height: 100%;
	background-color: #f98f39;
	background-image: url("../img/menu.png");
	background-repeat:no-repeat;
	background-size: 50%;
	background-position: center;
	cursor: pointer; 
}
.btn-toggle-nav:hover{
	opacity: 0.7;
}
.nav-main ul{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
}
.nav-main ul li{
	list-style: none;
	
	
}
.nav-main ul li a {
	display: block;
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
	font-family: Tahoma;
	font-size: 25px;
	
}.nav-main ul li a:hover {
	
	color: #3498db;
	
}
.nav-sidebar{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 272px;
	height: calc(100vh - 60px);
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition: all 0.5s ease-in-out;
}
.nav-sidebar ul{
	padding-top: 15px;
	overflow: ;
	visibility: visible;

}
.nav-sidebar ul li{
line-height: 60px;
list-style: none;
}
.nav-sidebar ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	white-space: nowrap;
	opacity: 1;
	transition: all 0.5s ease-in-out;

}
.nav-sidebar ul li span{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	white-space: nowrap;
	opacity: 0.5;
	transition: all 0.5s ease-in-out;

}
.nav-sidebar ul li a .fa{
	color: #f98f39;
	margin-right : 10px ;
	font-size: 25px;
	visibility: visible;
	margin-left: -40px;
	
}
.nav-sidebar ul li a:hover{
	
	color: #3498db;
}
.main-content{
	background-color: #48505a; 
	margin-top: 48px;
	margin-left: 275px; 
	width: calc(100vw-275px);
	height: calc(100vh - 60px);
	transition: all 0.5s ease-in-out;
}

table{
	width: 100%;
	color: #fff;
	border-radius: 5px;
	border-collapse: collapse;
	font-family: monospace;

}

}
table thead th {
	color: #fff;
	background-color: #1b1b1b;	
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	
}

table tbody td {
	padding: 5px;
	font-size: 15px;
	font-weight: normal;
}
.btn-success{
	border-radius: 5px;
	border: none;
	background-color: green;
	color: #fff;
	height: 25px;
}
.btn-success:hover{

	background-color:#00aced;

}
.btn-danger{
	border-radius: 5px;
	border: none;
	background-color:red;
	color: #fff;
	height: 25px;
}
.btn-danger:hover{
background-color: #bb0000; 
}
#add-model{
	display:none;
	position: fixed;
	top: 70px;
	left: 550px;
	background-color:;
}
#model-content{
	font-family: Tahoma;
	background-color: #1b1b1b;
	margin: 35px auto;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.25);
	animation-name: modelSlideUp;
	animation-duration:1s;
}
#model-header{
	height: 50px;
	background-color: #f98f39;
	color: #fff;
	padding: 0px 5px;
	text-align: center;
	
}
#model-header .close-model{
	font-size: 40px;
	float: right;
	cursor: pointer;
}
#model-header .close-model:hover{
	color: #333;
	cursor: pointer;
}
.model-footer{
	height: 30px;
	background-color:#f98f39;
	padding: 0px 25px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.form-group{
	margin: 10px 0;
	margin-left: 55px;
	font-family: Tahoma;
}
.form-group label{
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: Tahoma;
	color: #fff;

}
.form-group input{
	width: 80%;
	border-radius: 5px;
	padding: 10px 10px;
	font-size: 15px;
}
.form-group input[type='file']{
	padding: 10px 10px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0);

}
input[type=file]::file-selector-button {
	border: 2px solid #6c5ce7;
	padding: .2em .4em;
	border-radius: .2em;
	background-color: #f98f39;
	transition: 1s;
	height: 35px;
}
#add:hover{
	cursor: pointer;
}
#btn-add{
	color: #fff;
	font-size:15px;
	height: 40px;
	width: 200px;
	margin-left: 55px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background: #48505a;
	transition: background 0.3s;
	border-style: none;
}
#btn-add:hover{
	background-color:#f98f39;
	opacity: 0.8; 
}
@keyframes modelSlideUp {
	0%{
	transform: translateY(1500px);

	}

	100%{
		transform: translateY(0);
	}
}

