body{
	background: #2f3640;
}
.nav-main{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: #2f3640;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
}
.btn-toggle-nav{

	width: 60px;
	height: 100%;
	background-color: #f98f39;
	background-image: url("../img/menu.png");
	background-repeat:no-repeat;
	background-size: 50%;
	background-position: center;
	cursor: pointer; 
}
.btn-toggle-nav:hover{
	opacity: 0.7;
}
.nav-main ul{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
}
.nav-main ul li{
	list-style: none;
	
	
}

.nav-main ul li a {
	display: block;
	height: 100%;
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: arial;
	font-size: 16px;
	
}
.nav-main ul li a:hover {
	
	color: #3498db;
	
}
.nav-sidebar{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 272px;
	height: calc(100vh - 60px);
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition: all 0.5s ease-in-out;
}
.nav-sidebar ul{
	padding-top: 15px;
	overflow: hidden;
	visibility: visible;

}
.nav-sidebar ul li{
line-height: 60px;
list-style: none;
}
.nav-sidebar ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	white-space: nowrap;
	opacity: 1;
	transition: all 0.5s ease-in-out;

}
.nav-sidebar ul li span{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: arial;
	font-size: 16px;
	white-space: nowrap;
	opacity: 0.5;
	transition: all 0.5s ease-in-out;

}

.nav-sidebar ul li a:hover{
	
	color: #3498db;
}
.nav-sidebar ul li a .fa{
	color: #f98f39;
	margin-right : 10px ;
	font-size: 25px;
	visibility: visible;
	margin-left: -40px;
	
}
.main-content{
	display: block;
	background-color: #48505a; 
	margin-top: 45px;
	margin-left: 275px; 
	width: calc(100vw-275px);
	height: calc(100vh - 45px);
	transition: all 0.5s ease-in-out;
}
.modal-wrapper{
	display:none;
	position: fixed;
	top: 70px;
	left: 300px;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	background-color:#fff;
}

#modal-title{
	height: 50px;
	padding: 0px 5px;
}
.form-title{
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	font-family: Tahoma;
	color: #f98f39;
}
.fa-window-close{
	color: #ff0000;
	float: right ;
	font-size: 25px;
	visibility: visible;
	
}
.fa-window-close:hover{
	color: #333;
}
.modal-info{
	padding: 0 50px;
}
.item-info{
	font-size: 16px;
	font-family: Tahoma;
	color: #00aced;;
}
.form-group label{
	font-size: 16px;
	font-family: Tahoma;
	display: block;
}
.form-group input[type='text'],input[type='number']{
	border-radius: 5px;
	padding: 5px 5px;
	font-size: 14px;
	font-family: Tahoma;
	margin: 5px 0;
	border: 2px solid #00aced;
	outline: none;
}
.modal-info input[type ='submit']{
	color: #fff;
	font-size:15px;
	height: 40px;
	width: 170px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
	background: #00aced;
	border-style: none;
}
.modal-info input[type ='submit']:hover{
	background-color:#6c5ce7;
	opacity: 0.8; 
	transition: all 0.5s ease-in-out;
}
.err-message{
	color: red;
}
.res-message{
	margin-left: 30px;
	color: #008000;
}
table{
	width: 100%;
	color: #fff;
	border-radius: 5px;
	border-collapse: collapse;
	font-family: monospace;

}
table thead th {
	color: #fff;
	background-color: #1b1b1b;	
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	
}

table tbody td {
	padding: 5px;
	font-size: 15px;
	font-weight: normal;
}

.btn-success{
	border-radius: 5px;
	border: none;
	background-color: #00aced;
	color: #fff;
	height: 40px;
	width: 100px;
}
.btn-success:hover{

	background-color:green;

}





