body{
	background: #2f3640;
}
.nav-main{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: #2f3640;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
}
.btn-toggle-nav{

	width: 60px;
	height: 100%;
	background-color: #f98f39;
	background-image: url("img/menu.png");
	background-repeat:no-repeat;
	background-size: 50%;
	background-position: center;
	cursor: pointer; 
}
.btn-toggle-nav:hover{
	opacity: 0.7;
}
.nav-main ul{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
}
.nav-main ul li{
	list-style: none;
	
	
}
.nav-main ul li a {
	display: block;
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
	font-family: Tahoma;
	font-size: 25px;
	
}.nav-main ul li a:hover {
	
	color: #3498db;
	
}
.nav-sidebar{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 50px;
	height: calc(100vh - 60px);
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition: all 0.5s ease-in-out;
}
.nav-sidebar ul{
	padding-top: 15px;
	overflow: hidden;
	visibility: hidden;

}
.nav-sidebar ul li{
line-height: 60px;
list-style: none;
}
.nav-sidebar ul li span, .nav-sidebar ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: arial;
	font-size: 16px;
	white-space: nowrap;
	opacity: 0;
	transition: all 0.5s ease-in-out;

}
.nav-sidebar ul li a:hover{
	
	color: #3498db;
}
.main-content{
	background-color: #48505a; 
	margin-top: 45px;
	margin-left: 55px; 
	width: calc(100vw-275px);
	height: calc(100vh - 60px);
	transition: all 0.5s ease-in-out;
}
table{
	width: 100%;
	color: #fff;
	border-radius: 5px;
	border-collapse: collapse;
	font-family: monospace;

}
table thead th {
	color: #fff;
	background-color: #1b1b1b;	
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	
}

table tbody td {
	padding: 5px;
	font-size: 15px;
	font-weight: normal;
}
.btn-success{
	border-radius: 5px;
	border: none;
	background-color: green;
	color: #fff;
	height: 25px;
}
.btn-success:hover{

	background-color:#00aced;

}
.btn-danger{
	border-radius: 5px;
	border: none;
	background-color:red;
	color: #fff;
	height: 25px;
}
.btn-danger:hover{
background-color: #bb0000; 
}

